.albumDetail {
    padding: 10px;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;

    .albumInfo {
        display: flex;

        .albumResume {
            display: flex;
            flex-direction: column;
            margin-bottom: 12px;
            justify-content: left;

            align-self: center;
        }
    }

    .trackList {

    }
}

.trackRow {
    cursor: pointer;
    background-color: var(--semi-color-fill-0) !important;
}
