.albumsLayout {
    padding: 12px 0px 90px 12px;
    display: flex;
    flex-direction: row;

    .album {
        flex: 0 1;
        margin-right: 6px;
    }

    .albumDetailContainer {
        background-color: var(--semi-color-fill-0);
        border-top-left-radius: 6px;
    }
}


