.album {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;

    .title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    &:hover {
        cursor: pointer;
    }
}
